#Titulo
{
  color: grey;
  background-color: #b5f5d7;
}
.App
{
  background-color: #b5f5d7;
}

#bodycatalogo {
  background-color: #b5f5d7;
}
h5
{
  color: grey;
}


#Volverainicio {
      color:black;
}
#Volverainicio:hover{ background-color: #1fb16d;}
.logo {
  align-content: flex-end;
}

.fotoinicio
{

width:100%;
height:80%;
float: left;

} 
#IralCatalogo {
  align-content: flex-end;
  background-color: rgb(11, 94, 89);
  color: white;
 position: absolute;
 float: left;
 position:relative;
  left:50%;
  top:80%;
  opacity: 1;
  
  } 
  #IralCatalogo:hover{ background-color: #1fb16d;}





#imagenmediana{
  width: 200px; height: 200px;
  
}

#Adoptar {
  background-color: rgb(11, 94, 89);
  color: white;
}
#Adoptar:hover{ background-color: #1fb16d;}
#guardarcomofavorito {
  background-color: rgb(11, 94, 89);
  color: white;
}
#guardarcomofavorito:hover{ background-color: #1fb16d;}
#volverainicio {
  background-color: rgb(11, 94, 89);
  color: white;
}
#volverainicio:hover{ background-color: #1fb16d;}
.Fichas {
  background-color: #b5f5d7;
  margin-left: 20px;
}
#bodyficha {
  background-color: #b5f5d7;
  
}



#listacatalogo {
  padding-left: 40px;

}



#Registro {
  vertical-align: middle;
}

#Registrar {
  background-color: rgb(11, 94, 89);
  color: white;
}
#Registrar:hover{ background-color: #1fb16d;}

#forms {
  background-color: #b5f5d7;
  overflow: hidden;
  width: 100%;
  float: left;
  height: 100%;
  } 
#form1  {
float: left;
position: relative;
text-align: left;
width: 30%;
height: 100%;
margin-left: 28.359;
margin-right: 150px;
 margin-left: 10px;
padding-left: 0px;


}
  #form2  {
float: left;
position: relative;
text-align: left;
width: 49%;
height: 100%;
margin-left: 0px;
margin-right: 0px;
} 

#rowblog {
  margin-left: 2px;
} 
